<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="shortcut icon" type="image/png" href="images/popcorn.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Movie Library</title>
</head>

<body>
    <div class="menu">
        <h1><a href="index.html">Home</a></h1>
        <h1><a href="">Random</a></h1>
    </div>
    <div class="container">
        <div id="movie-list">
             <select v-on:change="filterList">
                 <!-- need to create another component / app for the item part (it works in the movie list div) -->
                 <option value="">Sort by genre ...</option>
                 <option v-for="item in uniqueItemsList">{{ item }}</option>
             </select>
            <ul>
                <li v-show="genre === '' || genre === movie.genre" v-for="movie in movieList"
                    v-on:click="toggleDetails(movie)" v-bind:class="[movie.showDetail ? 'less': 'more', movie.genre]">
                    <h3>{{movie.title}}</h3>
                    <div v-show="movie.showDetail">
                        <p>{{movie.description}}</p>
                        <p v-if="movie.director" class="byline">By: {{movie.director}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>