body {
    font-family: 'Raleway',
    sans-serif;
    background: #f2f2f2;
}

.container {
    max-width: 80%;
    margin: 100px auto;
    min-height: initial;
    position: relative;
    /* height just for scrolling */
    height: 1500px;
}

h3 {
    cursor: pointer;
    display: inline;
}

p {
    color: #333;
}

.welcome-background {
    background-image: url('images/movie-library.jpg');
    height: 100%;
    width: 100%;
}

.welcome-design {
    text-align: center;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.fade-header {
    margin-top: 300px;
    font-size: 30px;


    -webkit-animation: fadein 5s;
    -moz-animation: fadein 5s;
    -ms-animation: fadein 5s;
    -o-animation: fadein 5s;
    animation: fadein 5s;
}

.fade-button {
    margin-top: 120px;
    font-size: 25px;


    -webkit-animation: fadein 15s;
    -moz-animation: fadein 15s;
    -ms-animation: fadein 15s;
    -o-animation: fadein 15s;
    animation: fadein 15s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.menu {
    height: 80px;
    background-color: #0e0e0e;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: inline-flex;
    justify-content: center;
    margin-left: -10px;
}

.menu a,
.genres {
    margin: 30px 20px 0 20px;
    color: rgba(255, 255, 255, 0.897);
    text-transform: uppercase;
}

.genres,
a {
    display: block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    z-index: 9999;
}

.genres-content {
    font-size: 16px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.genres-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.genres:hover .genres-content {
    display: block;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
    text-shadow: rgb(241, 217, 119) 1px 0 15px;
    /* text-shadow: 2px 2px 40px rgb(253, 239, 200); */
}

.img-details {
    width: 250px;
    height: 250px;
}

.more:after {
    content: "\25BC";
    font-size: 8px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    font-size: 16px;
    color: #333;
}

.less:after {
    content: "\25B2";
    font-size: 8px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -10px;
    font-size: 16px;
    color: #333;
}

ul {
    list-style-type: none;
    padding-left: 0;
    border-radius: 5px;
    width: 45%;
}

.random-button {
    text-align: center;
}

button {
    background-color: #3B945E;
    color: white;
    width: 200px;
    height: 50px;
    font-size: 16px;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
}

li {
    border: #eaeaea solid 1px;
    margin: 10px 0;
    padding: 15px;
    border-left: #65CCB8 solid 5px;
    position: relative;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

li.book {
    border-left: #eb727e solid 5px;
}

li.streaming {
    border-left: #a0f2d0 solid 5px;
}

.byline {
    font-size: 14px;
    font-style: italic;
}

select {
    position: right;
    right: 0;
    top: 30px;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(img/arrow.png), -webkit-linear-gradient(#fff, #fff 40%, #fff);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #eaeaea;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 300px;
    outline: none;
    z-index: 1;
}
